.title{
    color: #e10049;
    background-image: none;
    font-size:  50px;
}
.text{
    color: #e10049;
    background-image: none;
    font-size:  29px;
}
.sub-title{
    color: #e10049;
    font-size:  40px;
}

.div{
    background-color: #360046;
   
}
.sub-title:hover{
    color:white;
}

.logo{
    display: flex;
    width: 800px;
}

.video{
    width: 720px;
}